@import '@/lib/reset.scss';
html, body, #root, .box {
    @include rect(100%, 100%);
  }
.box {
    background-color: #444;
    a {
      color:#FFD524;
    }
    .am-navbar-light {
      @include color(#FFD524);
    }
    .content {
      @include rect(100%, auto);
      @include flexbox();
      @include flex-direction(column);
      @include background-color(#FF8833);
      .sub-title {
        color: #888;
        font-size: 14px;
        padding: 15px 0 9px 15px;
      }
      .not-square-grid .am-grid-icon {
        width: 40px;
        height: 60px;
      }
      .lists {
        @include rect(100%,100%);
        @include flexbox();
        @include flex-wrap(wrap);
        .sauce-shops {
            @include rect(48%,2.3rem);
            @include background-color(#fff);
            margin: 5px 0 0 5px;
            @include flexbox();
            @include flex-direction(column);
            @include justify-content(center);
            @include align-items();
            img {
                @include rect(100%,auto);
            }
            p,div {
                @include rect(90%,auto);
                span {
                    @include color(red);
                }
                .hui {
                    @include color(#999);
                    margin-left:5px;
                }
            }
          }
      }
    }
}  